<div new_record=<%= participation.new_record?%> participant_id=<%= participation.participant_id %> participation_id=<%= participation.new_record? ? 0: participation.id %>>
  <p><%= user_icon(participation.invitee) %></p> 
  <p><%= link_to_user participation.invitee %> | <%= link_to_function 'delete', "participation_builder.remove_participation(#{participation.participant_id})" %></p>
</div>
