<%= javascript_include_tag 'participation.js' %>

<div id="participation_left_box">
<p><%= text_field_with_auto_complete :event, :participations, {}, {:after_update_element => 'after_select' } %></p>
<p><%= collection_select :event, :game_id, @games, :id, :name, {:include_blank => 'all'}, {:onchange => "participation_builder.game_select(this.value)"} %></p>
<div id="friends"></div>
</div> 
<div id="participation_right_box">
<div id="participations"></div>
</div>
<%= javascript_tag "participation_builder = new ParticipationBuilder(#{@user.id}, #{@event.id});" %>
<p><%= link_to_function "invite", "participation_builder.confirm_event()" %></p>
<p><%= link_to_function "finish", "participation_builder.save(#{@event.id})" %></p>
<%= javascript_tag "document.observe(\"dom:loaded\", function() {
  participation_builder.game_select(#{@event.game_id});
});" %>

