<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Permalink</th>
    <th>Body</th>
  </tr>

<% @pages.each do |pages| %>
  <tr>
    <td><%=h pages.title %></td>
    <td><%=h pages.permalink %></td>
    <td><%=h pages.body %></td>
    <td><%= link_to 'Show', pages %></td>
    <td><%= link_to 'Edit', edit_admin_page_path(pages) %></td>
    <td><%= link_to 'Destroy', pages, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pages', new_admin_page_path %>
