<p>
  <b>Title:</b>
  <%=h @pages.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @pages.permalink %>
</p>

<p>
  <b>Body:</b>
  <%=h @pages.body %>
</p>


<%= link_to 'Edit', edit_pages_path(@pages) %> |
<%= link_to 'Back', pages_path %>