<% content_for :left do %>
  <p><%= user_icon(@user, :large) %></p>
  <p><%= link_to 'my photos' %> | <%= link_to 'my icons' %></p>
<% end %>
  
<% content_for :right do %>
  right
<% end %>

<%= render :partial => 'personal/menu' %>

<h3>Basic Information</h3>
<hr/>
<div id='basic_info'>
<%= render :partial => 'basic_info/show' %>
</div>

<h3>Contact Information</h3>
<hr/>
<div id='contact_info'>
<%= render :partial => 'contact_info/show' %>
</div>

<h3>Game Information</h3>
<hr/>
<div id='characters'>
<%= render :partial => 'user_characters/character', :collection => @user.game_characters %>
</div>
<%= link_to 'add', new_user_character_url(@user), :style => "float:right", :rel => 'facebox' %>
