<% user = bcomment.user %>
<% comment_divid = "bcomment_#{bcomment.id}" %>

<% if bcomment_viewable(bcomment, current_user) %>
<div id=<%= comment_divid %> class='comment-box'>
  <% if bcomment.whisper %>
    <span class='whisper'><strong>whisper</strong></span>
  <% end %>
  <%= user_icon(user) %>
  <strong><%= link_to_user user %></strong>
  <span class="comment-box-tiny"><%= ftime bcomment.created_at %></span><br/>
  <%= bcomment.content %><br/>
  <% if current_user == user %>
    <%= link_to_remote 'delete', :complete => "$('#{comment_divid}').remove();", :url => blog_comment_url(bcomment.blog, bcomment), :method => :delete %>
  <% else %>
    <%= link_to_function 'comment', "$('bcomment_receiver_#{bcomment.blog.id}').value=#{user.id};$('bcomment_content_#{bcomment.blog.id}').value='reply to #{user.login}: '; $('bcomment_content_#{bcomment.blog.id}').focus();" %>
  <% end %>
</div>
<% end %>

