<h1>Listing blogs</h1>

<table>
  <tr>
    <th>id</th>
    <th>User</th>
    <th>Game</th>
    <th>Title</th>
    <th>Content</th>
    <th>Digs count</th>
    <th>Comments count</th>
    <th>Draft</th>
    <th>Privilege</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%=h blog.id %></td>
    <td><%=h blog.user_id %></td>
    <td><%=h blog.game_id %></td>
    <td><%=h blog.title %></td>
    <td><%=h blog.content %></td>
    <td><%=h blog.digs_count %></td>
    <td><%=h blog.comments_count %></td>
    <td><%=h blog.draft %></td>
    <td><%=h blog.privilege %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog', new_blog_path %>
