<% content_for :left do %>
  <%= render :partial => 'user/personal/icon_left' %><br/>
  <%= render :partial => 'user/personal/character_left' %><br/>
  <%= render :partial => 'user/personal/activity_left' %><br/>
  <%= render :partial => 'user/personal/album_left' %><br/>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'user/personal/visitor_history', :object => @user.visitor_records[0..8] %><br/>
  <%= render :partial => 'user/personal/friends', :object => @user.friends[0..14] %>
  <%= render :partial => 'user/personal/friend_guesses', :object => @user.guessed_friends[0..2] %>
<% end %>

<%= render :partial => 'user/personal/menu' %>

<%= render :partial => 'user/statuses/show' %>

<div id='personal_container'>
  <h3>Wall: <%= link_to "all wall messages", user_wall_messages_url(@user) %></h3>
  <%= render :partial => 'user/wall_messages/input' %>
  <div id='wall_messages'> 
    <%= render :partial => 'user/wall_messages/wall_message', :collection => @wall_messages %>
  </div>
</div>

