<h2> Edit Game Character </h2>

<div class='game-character'>
<% form_for :character, :html => {:method => :put, :id => 'character_form'} do |f| %>
  <%= render :partial => 'game_select', :locals => {:games => @games, :game_id => @game.id} %>
  <%= render :partial => 'name_input', :locals => {:name => @character.name} %>
  <%= render :partial => 'level_input', :locals => {:level => @character.level} %>
  <div id=details>
    <% unless @game.no_areas %>
      <%= render :partial => 'area_select', :locals => {:areas => @areas, :area_id => @character.area_id} %>
    <% end %>
    <%= render :partial => 'server_select', :locals => {:servers => @servers, :server_id => @character.server_id} %>
    <%= render :partial => 'race_select', :locals => {:races => @races, :race_id => @character.race_id} %>
    <%= render :partial => 'profession_select', :locals => {:professions => @professions, :profession_id => @character.profession_id} %>
  </div>
<% end %>
</div>

<%= link_to_function 'update', "update_user_character(#{@user.id}, #{@character.id})" %>
