<% if friends.blank? %>
  no friends is found. you can search friends in our website
<% else %>
  <% friends.each do |friend| %>
    <% friend_divid = "friend_#{friend.id}" %>
    <div id=<%= friend_divid %>>
      <%= user_icon(friend) %>
      <%= link_to friend.login, user_url(friend) %>
      <%= link_to_remote 'delete', :complete => "$('#{friend_divid}').remove()", :url => user_friend_url(@user, friend), :method => :delete %>
    </div>
  <% end %>
  <% if @remote %>
    <%= will_paginate friends, :renderer => 'RemoteLinkRenderer', :remote => @remote %>
  <% else %>
    <%= will_paginate friends %>
  <% end %>
<% end %>
