<%= text_field_tag 'search' %>
<%= observe_field :search,
                  :update    => "friends",
                  :frequency => 1,
                  :url       => search_user_friends_url,
                  :with      => "'key='+$('search').value",
                  :method    => :get  %>

<ul id="friend_menus">
  <li><%= link_to "all friends", user_friends_url(@user, :term => 'name') %></li>
  <ul>
    <div id="game_list">
      <% @user.games.each do |game| %>
        <li><%= link_to game.name, user_friends_url(@user, :term => 'game', :game_id => game)  %></li> 
      <% end %>
    </div>
  </ul>
  <li><%= link_to "friend suggestion" %></li>
  <li><%= link_to "recently added friends", user_friends_url(@user, :term => 'time') %></li>
</ul>
