<div class='game-character'>
<% form_for :user, :html => {:method => :put, :id => 'basic_form'} do |f| -%>
<p>
  <label>Login</label>
  <%= f.text_field :login, :onblur => "validate_login(this.value)", :onfocus => "show_login_requirement();" %>
  <a id='login_info'></a>
</p>

<p>
  <%= f.radio_button 'gender', 'male' %> male
  <%= f.radio_button 'gender', 'female' %> female
</p>

<p>
  <label for="birthday">Birthday</label><br/>
  <%= select_date @user.birthday, :prefix => 'user[birthday]', :start_year => 1980, :end_year => Time.now.year %> 
</p>

<p>
  <label for="country">Country</label><br/>
  <%= select_tag 'user[country]', [['---','---']] %>
</p>

<p>
  <label for="province">Province</label><br/>
  <%= select_tag 'user[province]', [['---','---']] %>
</p>

<p>
  <label for="city">City</label><br/>
  <%= select_tag 'user[city]', [['---','---']] %>
</p>

<% end %>
</div>
<%= link_to_function 'update', "update_basic_info(#{@user.id})" %>
