<h1>Editing game_characters</h1>

<% form_for(@game_characters) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :server_id %><br />
    <%= f.text_field :server_id %>
  </p>
  <p>
    <%= f.label :area_id %><br />
    <%= f.text_field :area_id %>
  </p>
  <p>
    <%= f.label :profession_id %><br />
    <%= f.text_field :profession_id %>
  </p>
  <p>
    <%= f.label :race_id %><br />
    <%= f.text_field :race_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :playing %><br />
    <%= f.check_box :playing %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @game_characters %> |
<%= link_to 'Back', game_characters_path %>
