<table class='recv-mail'>
  <% sent_mails.each_with_index do |mail, i| %>
    <% receiver = mail.receiver %>
    <tr>
      <td class='checkbox'><%= check_box_tag "mail_#{i}", "#{mail.id}-#{mail.read_by_sender}" %></td>
      <td class='icon'><%= user_icon(receiver) %></td>
      <td class='name'>
        <%= link_to receiver.login %><br/>
        <span class='recv-mail-tiny'><%= ftime mail.created_at %></span>
      </td>
      <td class='title'>
        <%= link_to mail.title, user_mail_url(:id => mail) %><br/>
        <span class='mail-content-truncate'><%= mail.content %></span>
      </td>
      <td class='operation'><%= link_to 'x', user_mail_url(:id => mail, :type => 'sent'), :confirm => 'are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<div class='mail-pagination'><%= will_paginate sent_mails %></div>
