<div class='fby'>
  <h3> Resources:  <%= link_to_function 'fold', "$('menus').toggle();if(this.innerHTML == 'fold') this.update('unfold'); else this.update('fold');", :class => 'hide-all'%></h3>
  <div id='menus'>
    <li>
      <%= image_tag 'all.gif' %>
      <%= link_to_function 'all', "get_all_feeds(#{@user.id})" %>
      <%= link_to_function '+', "$('game_categories').toggle(); if(this.innerHTML == '+') this.update('-'); else this.update('+')" %>
      <div class='fby-submenu' id='game_categories' style="display:none">
        <% @user.games.each do |game| %>
          <li><%= link_to_function game.name, "get_feeds_in_game(#{@user.id}, #{game.id})" %></li>
        <% end %>
      </div>
    </li>
    <li>
      <%= image_tag 'status.gif' %>
      <%= link_to_function 'statuses', "get_status_feeds(#{@user.id})" %>
    </li>
    <li>
      <%= image_tag 'blog.gif' %>
      <%= link_to_function 'blogs', "get_blog_feeds(#{@user.id})" %>
    </li>
    <li>
      <%= image_tag 'video.gif' %>
      <%= link_to_function 'videos', "get_video_feeds(#{@user.id})" %>
    </li>
    <li>
      <%= image_tag 'album.gif' %>
      <%= link_to_function 'albums', "get_album_feeds(#{@user.id})" %>
    </li>
  </div>
</div>

