<% message = wall_message %>
<% wall_message_divid = "wall_message_#{message.id}" %>

<div id=<%= wall_message_divid %>>
  <%= user_icon(message.poster) %>
  <%= link_to message.poster.login %>
  <%= ftime message.created_at %> <br/>
  <%= message.content %>
  <% if current_user == message.poster %>
    <%= link_to_remote 'delete', :complete => "$('#{wall_message_divid}').remove();",:url => user_wall_message_url(@user, message), :confirm => 'are you sure', :method => :delete %>
  <% else %>
    <%= link_to_function 'comment', "$('wall_message_content').value='reply to #{message.poster.login}: ';$('wall_message_content').focus();$('wall_message_receiver_id').value=#{message.poster.id}" %>
  <% end %>             
</div>

