<%= javascript_include_tag 'video' %>
<p><%= render :partial => 'video_menu' %></p>

<% form_for :video, :url => user_video_url(@user, @video), :html => { :onsubmit => "if($('video_game_id').value == '') return false; else return true;", :id => 'video_input'} do |f| %>
<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label "privilege: "%><%= privilege_select_tag :video, @video.privilege %>
</p>
<p>
  <%= f.label :game_id, "Catalog" %>
  <%= f.collection_select :game_id, @games, :id, :name, {:prompt => true } %>
</p>
<% end %>

<% content_for 'right' do %>
<p><%= text_field_with_auto_complete :video, :tags, {}, {:after_update_element => 'after_tag'} %></p>
<p><%= link_to_function "unfold", "video_builder.show_friends()", :id => 'unfold' %></p>
<div id='vtags'>
  <%= render :partial => 'user/vtags/vtag', :collection => @video.tags %>
</div>
<%= javascript_tag "video_builder = new VideoBuilder(#{@user.id}, #{@video.id})" %>
<% end %>

<%= link_to_function 'create', "video_builder.update(#{@video.id})" %>

