<% content_for :left do %>
<%= render :partial => 'status_menu' %>
<% end %>

<% if @user == current_user %>
<% form_remote_for :status, :url => user_statuses_url(@user, :home => 0) do |form| %>
  <%= form.text_area 'content', :cols => 50, :rows => 3, :style => "margin:3px 6px" %>
  <%= image_submit_tag 'submit.gif', :style => "margin-right:0px" %><br/>
<% end %>
<% end %>

<div id='statuses'>
<%= render :partial => 'status', :collection => @statuses %> 
</div>

<% unless params[:status_id].blank? %>
<%= javascript_tag "unfold_scomments(#{params[:status_id]});
                    $('scomment_content_#{params[:status_id]}').focus();
                    var offset = $('status_#{params[:status_id]}').positionedOffset();
                    window.scrollTo(0, offset.top);" %>
<% end %>

