<% user = vcomment.user %>
<% comment_divid = "comment_#{vcomment.id}" %>

<div id=<%= comment_divid %>>
  <%= user_icon user %>
  <%= ftime vcomment.created_at %><br/>
  <%= vcomment.content %>
  <% if current_user == user %>
    <%= link_to_remote 'delete', :complete => "$('#{comment_divid}').remove();", :url => video_comment_url(vcomment.video, vcomment), :method => :delete %>
  <% else %>
    <%= link_to_function 'comment', "$('vcomment_content').value='reply to #{user.login}: '; $('vcomment_content').focus();"%>
  <% end %>
</div>
