<%= javascript_include_tag 'photo.js' %>
<%= stylesheet_link_tag 'photo_tag.css' %>

<% ret = @album.next_prev_photo(@photo)
   @cur_photo_idx = ret[2]
   @next_photo = ret[0]
   @prev_photo = ret[1] %>

<p>
  <%= "#{@cur_photo_idx} of #{@album.photos.count} photos" %> | 
  <%= link_to 'back to album', user_album_url(@user, @album) %> | 
  <%= link_to 'my albums', user_albums_url(@user)%>
</p>
<p>
  <%= link_to 'prev', album_photo_url(@album, @prev_photo) %> | 
  <%= link_to 'next', album_photo_url(@album, @next_photo) %> 
</p>

<div id='complete_panel' style="display:none">
After you finish tagging, close this<%= button_to_function 'complete', "photo_tag.complete();" %>
</div>

<p align='center'>
<%= image_tag @photo.public_filename, :id => "photo_#{@photo.id}" %>
</p>

notation: <%= @photo.notation %>

<div id='photo_tags'>
  Tags: <%= render :partial => 'ptag', :collection => @photo.tags %> 
</div>

<%= render :partial => 'photo_menu' %>

<div>
  <%= link_to_function "Comment", "$('comment_content').focus();" %>(<%= label_tag 'nil', "#{@photo.comments.count}", :id => 'comments_count' %>) |
  <%= link_to_remote "Dig", :url => photo_digs_url(:photo_id => @photo) %>(<%= label_tag nil, "#{@photo.digs.count}", :id => 'digs_count' %>)
</div>
<hr/>
<div id='comments'>
  <%= render :partial => 'pcomment', :collection => @photo.comments %>
</div>

<% form_remote_for :comment, 
                   :position => :bottom,
                   :update => 'comments',
                   :complete => "$('comment_content').value='';",
                   :url => photo_comments_url(:photo_id => @photo) do |form| %>

  <p><%= form.text_area 'content', :cols => 70, :rows => 6 %></p>
  <p><%= form.label "whisper?" %><%= form.check_box 'whisper' %></p>
  <%= form.submit 'comment' %>
<% end %>

<%= javascript_tag "var photo_tag = new PhotoTag(#{@photo.id}, #{@user.id});" %>
