<p><%= "edit album - #{@album.title}" %></p>
<p><%= link_to 'back to album', event_album_url(@event) %></p>

<% form_for :photo, :url => event_photo_url(@event, @photo), :html => {:method => :put} do |form| %>
  <table>
  <tr>
    <td vAlign='top'><%= form.label 'notation:' %></td>
    <td vAlign='top'><%= form.text_area 'notation', :rows => 5, :cols => 50 %></td>
    <td vAlign='top'>
      <%= image_tag @photo.public_filename(:medium) %><br/>
      <%= form.label 'cover: ' %> <%= form.radio_button 'cover', true, :checked => @photo.cover %><br/>
      <%= form.label 'move to: ' %>
      <%= select_tag "photo[album_id]", options_from_collection_for_select(@user.albums, :id, :title, @photo.album_id) %> <br/>
    </td>
  </tr>
  </table>
  <%= submit_tag 'update' %>
<% end %>

