<% content_for :right do %>
<p><%= text_field_with_auto_complete :blog, :tags, {}, {:tokens => ',', :after_update_element => 'after_tag' } %></p>
<p><%= link_to_function "unfold", "blog_builder.show_friends()", :id => 'unfold' %></p>
<div id='btags'>
  <% @blog.tags.each do |tag| %>
    <%= render :partial => 'btag', :object => tag %>
  <% end %>
</div>
<%= javascript_tag "blog_builder = new BlogBuilder(#{@user.id}, #{@blog.id});" %>
<% end %>


<%= javascript_include_tag 'blog.js' %>

<%= "New Blog" %> | <%= link_to "back to blogs index", user_blogs_url(:user_id => @user, :draft => @blog.draft) %> 

<% form_for :blog, :html => {:id => 'blog_input'} do |form| %>
  <p><%= form.label "title" %></p>
  <p><%= form.text_field 'title' %></p>
  <p><%= form.text_area 'content' %></p>
  <p><%= form.label "category: " %><%= select_tag 'blog[game_id]', options_from_collection_for_select(@user.games, :id, :name, @blog.game_id) %></p>
  <p><%= form.label "privilege: "%><%= select_tag 'blog[privilege]', options_for_select([['myself', 'myself'], ['all','all'], ['only friends', 'friends']], @blog.privilege) %></p>
<% end %>

<%= link_to_function 'update', "blog_builder.update_blog(#{@blog.id})" %>
<%= link_to_function "save as draft", "blog_builder.update_draft(#{@blog.id})" %>
    
