<h1>Listing vtags</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tagged user</th>
    <th>Video</th>
  </tr>

<% @vtags.each do |vtag| %>
  <tr>
    <td><%=h vtag.user_id %></td>
    <td><%=h vtag.tagged_user_id %></td>
    <td><%=h vtag.video_id %></td>
    <td><%= link_to 'Show', vtag %></td>
    <td><%= link_to 'Edit', edit_vtag_path(vtag) %></td>
    <td><%= link_to 'Destroy', vtag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vtag', new_vtag_path %>