<% photo = pnotification.comment.photo %>
<% owner = photo.user %>
<% commentor = pnotification.comment.user %>
<li id="pnotification_<%= pnotification.id%>" type='photo' type_id='<%= photo.id %>' notification_id='<%= pnotification.id %>'>
  <span class='notification-tiny'><%= ftime4 pnotification.created_at %></span>
  <% if delete %>
    <%= link_to_function 'X', "read_notification('photo', '#{photo.id}', #{@user.id}, 1)", :style => "float:right;margin-right:5px" %>
  <% end %>
  <% style = (pnotification.read)? "font-weight: normal;" : "font-weight: bold;" %>
  <span style='<%= style %>'>
    <%= link_to_user commentor %> replied to you in album <%= link_to_function (truncate photo.album.title, 20), "read_notification('photo', '#{photo.id}', #{@user.id}, #{delete ? 1 : 0});window.open('#{album_photo_url(photo.album, photo)}');", :popup => true %>
  </span>
</li>

