<ul>
   Logged in as: <%= current_user.login %>
  <li><%= link_to 'Edit Pages', admin_pages_path %></li>
  <li><%= link_to 'Administrate users', users_url %></li>
  <li><%= link_to 'Edit icons', icons_url %></li>
  <li><%= link_to 'Edit statuses', statuses_url %></li>
  <li><%= link_to 'Edit mails', mails_url %></li>
  <li><%= link_to 'Edit wall messages', wall_messages_url %></li>
  <li><%= link_to 'Edit blogs', blogs_url %></li>
  <li><%= link_to 'Edit albums', albums_url %></li>
  <li><%= link_to 'Edit photos', photos_url %></li>
  <li><%= link_to 'Logout', logout_url %></li>
</ul>
