<div id='menu'>
  <%= link_to 'register', signup_url %> |
  <%= link_to 'login', login_url%> | 
  <%= link_to_function "bookmark", "bookmark()" %> |
  <%= link_to_function "homepage", "homepage()" %> |
  <%= link_to 'help'%>
</div>
