<div align='center' class='fb2'>
<%= link_to 'Home page', user_resource_feeds_url(current_user) %>
<%= link_to 'Personal Page', user_personal_url(current_user) %>
<%= link_to 'friends', user_friends_url(current_user, :term => 'name') %>
<%= link_to 'group/guild' %>
<%= link_to 'mailbox', user_mails_url(current_user, :type => 'recv') %>
<%= link_to 'settings' %>
<%= link_to 'logout', session_url(:id => 1), :method => :delete %>
</div>
