<div align='center'>
<%= link_to 'Home page' %>
<%= link_to 'Personal Page', new_user_wall_message_url(:user_id => current_user) %>
<%= link_to 'friends', user_friends_url(:user_id => current_user, :term => 'name') %>
<%= link_to 'group/guild' %>
<%= link_to 'mailbox', user_mails_url(:user_id => current_user, :type => 'recv') %>
<%= link_to 'settings' %>
<%= link_to 'game suggestion' %>
<%= link_to 'logout', session_url(:id => 1), :method => :delete %>
</div>
